@using WebDesigner.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model PageViewModel<WebDesigner.Models.Pages.ServicesPage>

@{
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}

<div class="services">
    <div class="container">
        <h3 @Html.EditAttributes(m => m.CurrentPage.MainBodyHeading)>
            @Model.CurrentPage.MainBodyHeading
        </h3>
        <hr>

        <div class="col-md-6">
            @Html.PropertyFor(m => m.CurrentPage.MainBody, new { CssClass = "col-md-6" })           
        </div>

        <div class="col-md-6">
            <div class="media services-main-content-area" style="margin-left:20px;margin-top:30px;">
                @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CustomTag = "ul" })
            </div>
        </div>
    </div>
</div>
