@using WebDesigner.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model PageViewModel<WebDesigner.Models.Pages.StartPage>

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(@(Model.CurrentPage.BackgroundImage != null ? Url.ContentUrl(Model.CurrentPage.BackgroundImage) : Url.Content("~/Static/images/slider/bg1.jpg")))">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CssClass = "carousel-content" })
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            @if (Model.CurrentPage.SliderContentArea != null && Model.CurrentPage.SliderContentArea.FilteredItems.Any())
                            {
                                <text>
                                    @Html.PropertyFor(m => m.CurrentPage.SliderContentArea, new { CssClass = "slider-img" })
                                </text>
                            }
                            else
                            {
                                <div class="slider-img">
                                    <img src="@Url.Content("~/Static/images/slider/img3.png")" class="img-responsive">
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->